<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=TestR\Run Con\figu\rationsrCon\figu\ration1"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="Test"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Configuration1"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Test"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>